spring:
  datasource:
    username: root
    password: backend
    url: jdbc:mysql://${DB_SERVER:localhost}:3306/${DB_NAME:lodge}?createDatabaseIfNotExists=true&serverTimeZone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialization-mode: always
  sql:
    init:
      mode: always
  jpa:
    database: mysql
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

logging:
  level:
    local.springframework: debug

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://${EUREKA_SERVER:localhost}:8761/eureka
    instance:
      hostname: lodge-api

settings:
  file-path: src/main/resources/settings.json

keyStore:
  path: keystore.jks
  password: password
  alias: auth-server