services:
  eureka-service:
    build: eureka-server
    container_name: eureka-service
    mem_limit: 512m
    ports:
      - 8761:8761
    env_file:
      - env/eureka.env
    restart: always

  gateway-service:
    build: gateway-service
    container_name: gateway-service
    mem_limit: 512m
    ports:
      - 8080:8080
    env_file:
      - env/gateway.env
    restart: always
    depends_on:
      eureka-service:
        condition: service_started

  security-service:
    build: security-service
    container_name: security-service
    mem_limit: 512m
    # ports:
    # - 8090:8080
    env_file:
      - env/security.env
    restart: always
    depends_on:
      eureka-service:
        condition: service_started
      lodge-sql:
        condition: service_healthy

  lodge-api:
    build: lodge-hotel-restapi
    container_name: lodge-api
    mem_limit: 2g
    # ports:
    # - 8090:8080
    env_file:
      - env/lodge.env
    restart: always
    depends_on:
      eureka-service:
        condition: service_started
      lodge-sql:
        condition: service_healthy

  lodge-sql:
    image: mysql
    container_name: lodge-sqldb
    ports:
      - 3307:3306
    env_file:
      - env/mysql.env
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 10
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d:ro
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
