@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-600);
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-600: var(--color-blue-600);
  --color-primary-500: var(--color-blue-500);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-gray-700);
}

button:hover {
  cursor: pointer;
}

/* NAV ITEMS */
.nav_link:link,
.nav_link:visited {
  @apply flex items-center gap-4 text-gray-600 text-xl font-medium py-4 px-7 transition-all;
}

.nav_link:hover,
.nav_link:active,
.nav_link.active:link,
.nav_link.active:visited {
  @apply text-gray-800 rounded-sm bg-gray-50;
}

.nav_link svg {
  @apply w-7 h-7 text-gray-400 transition-all;
}

.nav_link:hover svg,
.nav_link:active svg,
.nav_link.active:link svg,
.nav_link.active:visited svg {
  @apply text-primary;
}

&::-webkit-scrollbar {
  width: 0 !important;
}

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.gray.500") !important;
  --rdp-background-color: theme("colors.gray.600") !important;
  margin: 0 !important;
}
