.checkbox {
  display: flex;
  gap: calc(var(--spacing) * 3);
}

.checkbox input[type="checkbox"] {
  height: calc(var(--spacing) * 6);
  width: calc(var(--spacing) * 6);
  outline-offset: 2px;
  transform-origin: 0;
  accent-color: var(--color-primary-600);
  color: red;
}

.checkbox input[type="checkbox"]:disabled {
  accent-color: var(--color-primary-600);
}

.checkbox label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 3);
}
