spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: security-service
          uri: lb://security-service
          predicates:
              - Path=/auth/**, /employee/**
        - id: lodge-hotel-restapi
          uri: lb://lodge-api
          predicates:
            - Path=/api/v1/**
          filters:
            - AuthenticationFilter
        - id: lodge-hotel-restapi-swagger
          uri: lb://lodge-api
          predicates:
            - Path=/aggregate/lodge-service/v3/api-docs
          filters:
            - SetPath=/api-docs
        - id: security-service-swagger
          uri: lb://security-service
          predicates:
            - Path=/aggregate/security-service/v3/api-docs
          filters:
            - SetPath=/api-docs
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - ${FRONTEND_URL:http://localhost:5173}
            allowedMethods:
              - GET
              - POST
              - DELETE
              - PUT
              - PATCH
            allowedHeaders:
              - Content-Type
              - responseType
              - Authorization
            allowCredentials: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Lodge Service
        url: /aggregate/lodge-service/v3/api-docs
      - name: Security Service
        url: /aggregate/security-service/v3/api-docs
  api-docs:
    path: /api-docs

gateway:
  excludedUrl: /auth/login, /api/v1/storage/public/cabin/.*, /api/v1/cabin/capacity, /api/v1/booking/reservations

server:
  port: 8080

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://${EUREKA_SERVER:localhost}:8761/eureka
    instance:
      hostname: gateway-service

keyStore:
  path: keystore.jks
  password: password
  alias: auth-server
